# Querying Testing

Repo: `IDB-IDB-Invest-Coronavirus-Impact-Dashboard`

In [8]:
# %load first_cell.py
%reload_ext autoreload
%autoreload 2
from pathlib import Path
home = str(Path.home())

import sys
sys.path = sys.path + [f'{home}/.conda/envs/norm_env/lib/python37.zip', 
                       f'{home}/.conda/envs/norm_env/lib/python3.7', 
                       f'{home}/.conda/envs/norm_env/lib/python3.7/lib-dynload', 
                       f'{home}/.conda/envs/norm_env/lib/python3.7/site-packages',
                      '../src']
sys.prefix = '/home/soniame/.conda/envs/IDB-IDB-Invest'

from paths import RAW_PATH, TREAT_PATH, OUTPUT_PATH, FIGURES_PATH

In [9]:
from copy import deepcopy
import numpy as np
import pandas as pd
pd.options.display.max_columns = 999
import yaml
import datetime
from datetime import datetime

In [10]:
from src import utils
conn = utils.connect_athena(path='../configs/athena.yaml')

../src/utils.py:158: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  athena_config = yaml.load(open(path, "r"))

### `grid`

In [4]:
qry_region = """
select region_slug, count(*) 
from spd_sdv_waze_corona.allhist_grid_grid
group by region_slug;
"""
pd.read_sql_query(qry_region, conn)

  region_slug     _col1
0        lima  36616145

In [5]:
qry_date = """
select  
    region_slug,
	min(date_parse(
	 CONCAT(CAST(year AS varchar), '-', 
			CAST(month AS varchar), '-',
			CAST(day AS varchar)),'%Y-%m-%d')),
	max(date_parse(
	 CONCAT(CAST(year AS varchar), '-', 
			CAST(month AS varchar), '-',
			CAST(day AS varchar)),'%Y-%m-%d'))
from spd_sdv_waze_corona.allhist_grid_grid
group by region_slug;
"""
pd.read_sql_query(qry_date, conn)

  region_slug      _col1      _col2
0        lima 2019-03-27 2020-09-30

### `grid_hourly_index`

In [6]:
qry_region = """
select region_slug, count(*)
from spd_sdv_waze_corona.allhist_grid_grid_hourly_index
group by region_slug;
"""
pd.read_sql_query(qry_region, conn)

  region_slug     _col1
0        lima  36616145

In [7]:
qry_date = """
select  
    region_slug,
	min(date_parse(
	 CONCAT(CAST(year AS varchar), '-', 
			CAST(month AS varchar), '-',
			CAST(day AS varchar)),'%Y-%m-%d')),
	max(date_parse(
	 CONCAT(CAST(year AS varchar), '-', 
			CAST(month AS varchar), '-',
			CAST(day AS varchar)),'%Y-%m-%d'))
from spd_sdv_waze_corona.allhist_grid_grid_hourly_index
group by region_slug;
"""
pd.read_sql_query(qry_date, conn)

  region_slug      _col1      _col2
0        lima 2019-03-27 2020-09-30